<div class="navbar">
    <div class="sidebarbutton" onclick="hidebar()">
        &#8801;
    </div>
    <div class="home">
        <a href="/">Home</a>
    </div>
    <div class="economy">
        <a href="/economy">Economy</a>
    </div>
    <div class="history">
        <a href="/history/ancient/1">History</a>
    </div>
    <div class="politicalscience">
        <a href="/politicalscience">Political Science</a>
    </div>
</div>